# Puerto local del servidor
PORT=8000

# MongoDB Atlas Data API
# Ejemplo: https://data.mongodb-api.com/app/<app-id>/endpoint/data/v1/action
MONGODB_DATA_API_URL=mongodb+srv://cluster0.isczd1p.mongodb.net/
MONGODB_DATA_API_KEY=de37f1f3-c399-4551-a3df-1f269277d21a
MONGODB_DATA_SOURCE=Cluster0
MONGODB_DB_NAME=mensajeria
MONGODB_COLLECTION=chats
